* {
  padding: 0;
  margin: 0; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.header {
  padding: 10px; }
  @media screen and (max-width: 768px) {
    .header .container {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0; } }
  .header .container .navbar.sticky-top a.navbar-brand {
    color: #ffffff; }
  .header .container span i {
    color: #ffffff; }
  .header .container .navbar-nav li a {
    color: #ffffff; }
  .header .container form .btn.btn-outline-pesquisa {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff; }
    .header .container form .btn.btn-outline-pesquisa:hover {
      color: rgba(0, 0, 0, 0.8);
      background-color: #ffffff;
      background-image: none;
      border-color: rgba(0, 0, 0, 0.8); }

.banner {
  position: relative;
  top: -76px; }
  .banner .dev2-banner {
    position: relative;
    background: url("image/bg.png"); }
    .banner .dev2-banner .dev2-banner-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      height: 450px;
      width: 100%; }
      @media screen and (max-width: 768px) {
        .banner .dev2-banner .dev2-banner-overlay {
          height: 340px; } }
    .banner .dev2-banner .carousel .carousel-inner .carousel-item {
      text-align: center;
      height: 250px; }
      @media screen and (max-width: 768px) {
        .banner .dev2-banner .carousel .carousel-inner .carousel-item {
          height: 140px; } }
      .banner .dev2-banner .carousel .carousel-inner .carousel-item h1 {
        margin: 200px auto;
        color: #ffffff; }
        @media screen and (max-width: 768px) {
          .banner .dev2-banner .carousel .carousel-inner .carousel-item h1 {
            font-size: 30px; } }
    @media screen and (max-width: 768px) {
      .banner .dev2-banner .carousel .carousel-control-prev, .banner .dev2-banner .carousel .carousel-control-next {
        top: 100px; } }

.section {
  position: relative; }
  .section .container .title {
    border-bottom: 2px solid #000000;
    display: block; }
  .section .container .row .card {
    border: none; }
    .section .container .row .card .card-body {
      background-color: transparent !important;
      position: relative;
      padding: 0 1.25rem;
      top: -25px;
      border: none; }
      .section .container .row .card .card-body .card-title {
        text-shadow: 0px 0px 5px #000000; }
      .section .container .row .card .card-body a {
        color: #ffffff;
        text-decoration: underline; }
  .section#contato {
    background: url("image/teste-bg.png") no-repeat #333E61;
    padding: 25px 0; }
  .section#sobre {
    top: -76px;
    background: url("image/teste-bg2.png") bottom no-repeat #333E61;
    padding: 60px 0 90px;
    color: #ffffff; }
    .section#sobre .title {
      border-bottom: 2px solid #ffffff;
      display: block; }

.clearfix {
  display: block;
  padding-top: 25px; }
